# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Virtual environment directories
venv/
env/

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Dependencies
*.egg-info/
dist/
build/
*.egg

# Miscellaneous
*.bak
*.swp
